In [115]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [116]:
df = pd.read_csv('avazu_medium.csv')
df.head()

/usr/local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1000009418151094273,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,10000169349117863715,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,10000371904215119486,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,10000640724480838376,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,10000679056417042096,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [117]:
for col in df.columns:
    print(col + " " + str(len(df[col].unique())))

id 100000
click 2
hour 1
C1 6
banner_pos 5
site_id 893
site_domain 780
site_category 16
app_id 704
app_domain 55
app_category 19
device_id 7202
device_ip 40376
device_model 2473
device_type 4
device_conn_type 4
C14 420
C15 5
C16 6
C17 128
C18 4
C19 37
C20 137
C21 29

In [118]:
n = df['device_ip'].value_counts()[df['device_ip'].value_counts()>=50].index
df = df.loc[df['device_ip'].isin(n)]
df.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1000009418151094273,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
16,10003585669470236873,0,14102100,1005,0,d9750ee7,98572c79,f028772b,ecad2386,7801e8d9,...,1,0,17914,320,50,2043,2,39,-1,32
23,10004765361151096125,1,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15701,320,50,1722,0,35,-1,79
28,10005649443863261125,0,14102100,1005,0,543a539e,c7ca3108,3e814130,ecad2386,7801e8d9,...,1,0,20366,320,50,2333,0,39,-1,157
29,10005951398749600249,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,-1,79

In [119]:
for col in df.columns:
    print(col + " " + str(len(df[col].unique())))

id 11859
click 2
hour 1
C1 3
banner_pos 2
site_id 87
site_domain 77
site_category 9
app_id 51
app_domain 7
app_category 8
device_id 116
device_ip 83
device_model 322
device_type 3
device_conn_type 3
C14 65
C15 3
C16 3
C17 25
C18 3
C19 8
C20 8
C21 10

# Feature hashing

We use feature hashing: https://github.com/scikit-learn-contrib/categorical-encoding/blob/master/category_encoders/hashing.py

In [120]:
import category_encoders as ce

retain = 50
y = df['click']
col = ['C1', 'banner_pos', 'site_id', 'site_domain', 'site_category', 'app_id', 'app_domain', \
      'app_category', 'device_id', 'device_model', 'device_type', 'device_conn_type', \
      'C14', 'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21']
enc = ce.HashingEncoder(cols=col, n_components=retain).fit(df, y)
df = enc.transform(df)
#print(df.info())
df.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_44,col_45,col_46,col_47,col_48,col_49,id,click,hour,device_ip
0,2,0,0,0,0,0,1,0,1,1,...,0,0,1,1,0,0,1000009418151094273,0,14102100,ddd2926e
16,3,0,0,0,0,0,2,0,0,2,...,0,0,0,0,0,0,10003585669470236873,0,14102100,9b1fe278
23,3,0,0,0,0,0,1,0,1,1,...,1,0,1,0,0,0,10004765361151096125,1,14102100,c6563308
28,4,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,10005649443863261125,0,14102100,50d86760
29,3,0,0,0,0,0,1,0,1,1,...,0,0,1,0,0,0,10005951398749600249,0,14102100,431b3174

In [121]:
df['hour'] = df['hour'].apply(lambda x: str(x)[6:]) # hour
df = df.drop('id', 1) # remove id
df.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,...,col_43,col_44,col_45,col_46,col_47,col_48,col_49,click,hour,device_ip
0,2,0,0,0,0,0,1,0,1,1,...,0,0,0,1,1,0,0,0,00,ddd2926e
16,3,0,0,0,0,0,2,0,0,2,...,0,0,0,0,0,0,0,0,00,9b1fe278
23,3,0,0,0,0,0,1,0,1,1,...,0,1,0,1,0,0,0,1,00,c6563308
28,4,0,0,0,0,0,3,0,0,0,...,1,0,0,0,0,0,0,0,00,50d86760
29,3,0,0,0,0,0,1,0,1,1,...,0,0,0,1,0,0,0,0,00,431b3174

In [122]:
grouped = df.groupby(['device_ip'])
k = 9
l = []
for name, group in grouped:
    user_interactions = group.groupby('click') # there will be 2 groups: 0/1
    try:
        ones = user_interactions.get_group(1)
    except:
        print('no ones')
        continue
    zeros = user_interactions.get_group(0)
    # compute the number of splits per user and split the interactions
    num_of_splits = len(zeros)//k
    splits = np.array_split(zeros, num_of_splits)
    # build the rounds with k-zeros rewards a 1-one reward
    for index_and_row, split in zip(ones.iterrows(), splits):
        r = pd.concat([split, index_and_row[1].to_frame().transpose()])
        # add the round to the list (after shuffling)
        if len(r)>10:
            r.drop(r.index[:len(r)-10], inplace=True)
        l.append(r.iloc[np.random.permutation(len(r))])

no ones
no ones
no ones
no ones
no ones
no ones
no ones
no ones
no ones
no ones

In [123]:
import random
random.shuffle(l)

In [124]:
for i in range(10):
    print(l[i])

      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
34035     2     0     0     0     1     0     2     0     0     0    ...
36398     2     0     0     0     0     0     1     0     1     1    ...
38555     2     0     0     0     1     0     1     0     2     0    ...
34639     3     0     0     0     0     0     1     0     1     1    ...
35900     2     0     0     0     0     0     1     0     1     1    ...
38379     3     0     0     0     1     0     1     0     1     1    ...
35908     3     0     0     0     0     0     1     0     1     1    ...
30337     3     0     0     1     0     0     1     0     1     1    ...
13811     3     0     0     0     0     0     1     0     1     1    ...
38577     3     0     0     0     0     0     1     0     1     1    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
34035      0      0      0      0      0      0      0     0   00  59ac940d
36398      0      0      0      1      0      0      0     0   00  59ac940d
38555      0      0      0      2      0      0      0     0   00  59ac940d
34639      0      0      0      1      0      0      0     0   00  59ac940d
35900      0      0      0      1      0      0      0     0   00  59ac940d
38379      0      0      0      1      0      0      0     0   00  59ac940d
35908      0      0      0      1      0      1      0     0   00  59ac940d
30337      0      0      0      1      0      0      0     0   00  59ac940d
13811      0      0      0      1      0      0      0     1   00  59ac940d
38577      0      0      0      1      0      0      0     0   00  59ac940d

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
23052     3     0     0     0     0     0     1     0     1     1    ...
19288     2     0     0     0     0     0     1     0     1     1    ...
27574     3     0     0     0     0     0     1     1     1     1    ...
24088     3     0     0     1     0     0     2     0     1     1    ...
19923     3     0     0     0     0     0     1     0     1     1    ...
23913     2     0     0     0     0     0     1     0     1     1    ...
20246     2     0     0     0     1     0     1     0     0     0    ...
22156     5     1     0     0     0     0     1     0     0     1    ...
21890     3     0     0     0     0     0     2     0     1     1    ...
19974     2     0     0     0     0     0     1     0     2     0    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
23052      0      0      0      1      0      1      0     0   00  ac77b71a
19288      0      0      0      1      0      0      0     0   00  ac77b71a
27574      0      0      0      1      0      0      0     0   00  ac77b71a
24088      0      0      0      1      0      0      0     0   00  ac77b71a
19923      0      0      0      1      0      1      0     0   00  ac77b71a
23913      0      0      0      2      0      1      0     0   00  ac77b71a
20246      0      0      0      0      0      0      0     1   00  ac77b71a
22156      0      0      0      0      0      1      0     0   00  ac77b71a
21890      0      0      0      1      0      1      0     0   00  ac77b71a
19974      0      0      0      2      0      0      0     0   00  ac77b71a

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
39731     3     0     0     0     0     0     1     0     1     1    ...
41047     2     0     0     0     0     0     1     0     2     0    ...
40688     3     0     0     0     0     0     2     0     1     1    ...
41462     2     0     0     0     0     0     1     0     1     1    ...
19868     1     0     0     0     1     0     2     0     0     0    ...
40002     3     0     0     0     0     0     1     0     1     1    ...
40672     3     0     0     0     0     0     1     0     1     1    ...
40766     3     0     0     0     0     0     1     0     1     1    ...
39839     3     0     0     0     0     0     1     0     1     1    ...
40527     2     0     0     0     0     0     1     0     1     1    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
39731      0      0      0      1      0      0      0     0   00  ceffea69
41047      0      0      0      2      0      1      0     0   00  ceffea69
40688      0      0      0      1      0      0      0     0   00  ceffea69
41462      0      0      0      1      0      2      0     0   00  ceffea69
19868      0      0      0      0      0      0      1     1   00  ceffea69
40002      0      0      0      1      0      0      0     0   00  ceffea69
40672      0      0      0      1      0      0      0     0   00  ceffea69
40766      0      0      0      1      0      1      0     0   00  ceffea69
39839      0      0      0      1      0      1      0     0   00  ceffea69
40527      0      0      0      1      0      0      0     0   00  ceffea69

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
33284     4     0     0     0     0     0     2     0     0     0    ...
50985     4     0     0     0     0     0     2     0     0     0    ...
30967     4     0     0     0     0     0     3     0     0     0    ...
30880     4     0     0     0     0     0     3     0     0     0    ...
25905     4     0     0     0     0     0     2     0     0     0    ...
36295     4     0     0     0     0     0     2     0     0     0    ...
28790     4     0     0     0     0     0     2     0     0     0    ...
22995     4     0     0     0     0     0     2     0     0     0    ...
23658     4     0     0     0     0     0     2     0     0     0    ...
27779     4     0     0     0     0     0     2     0     0     0    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
33284      1      0      0      0      1      0      0     0   00  ed20ddc0
50985      1      0      0      0      1      0      0     1   00  ed20ddc0
30967      1      0      0      0      0      0      0     0   00  ed20ddc0
30880      1      0      0      0      0      0      0     0   00  ed20ddc0
25905      1      0      0      0      1      0      0     0   00  ed20ddc0
36295      1      0      0      0      0      0      0     0   00  ed20ddc0
28790      1      0      0      0      1      0      0     0   00  ed20ddc0
22995      1      0      0      0      1      0      0     0   00  ed20ddc0
23658      1      0      0      0      0      0      0     0   00  ed20ddc0
27779      1      0      0      0      1      0      0     0   00  ed20ddc0

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
89051     2     0     0     0     0     0     2     0     2     0    ...
87041     3     0     0     0     0     0     1     0     1     1    ...
88286     4     0     0     0     0     0     1     0     1     1    ...
87100     3     0     0     0     2     0     2     0     0     0    ...
89151     3     0     0     0     0     0     1     0     1     1    ...
87788     3     0     0     0     0     0     1     0     1     1    ...
88441     3     0     0     0     0     0     1     0     1     1    ...
41935     3     0     0     0     0     0     1     0     1     1    ...
90217     4     0     0     0     0     0     1     0     0     0    ...
87903     3     0     0     0     1     0     1     0     1     1    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
89051      0      0      0      2      0      0      0     0   00  a8536f3a
87041      0      0      0      1      0      1      0     0   00  a8536f3a
88286      0      0      0      1      0      0      0     0   00  a8536f3a
87100      0      0      0      0      0      0      0     0   00  a8536f3a
89151      0      0      0      1      0      0      0     0   00  a8536f3a
87788      0      0      0      1      0      0      0     0   00  a8536f3a
88441      0      0      0      1      0      0      0     0   00  a8536f3a
41935      0      0      0      1      0      0      0     1   00  a8536f3a
90217      0      0      0      1      0      1      0     0   00  a8536f3a
87903      0      0      0      1      0      0      0     0   00  a8536f3a

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
44060     3     0     0     0     0     0     1     0     1     1    ...
46978     3     0     0     0     0     0     1     0     1     1    ...
46938     3     0     0     0     0     0     1     0     1     1    ...
44485     3     0     0     0     0     0     1     0     1     1    ...
42125     3     0     0     1     0     0     1     0     1     1    ...
44638     3     0     0     1     0     0     1     0     1     1    ...
43704     3     0     0     0     1     0     1     0     1     1    ...
21405     3     0     0     0     2     0     2     0     0     0    ...
45520     3     0     0     0     0     0     2     0     1     1    ...
43514     2     1     0     0     1     0     2     0     0     0    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
44060      0      0      0      1      0      0      0     0   00  ceffea69
46978      0      0      0      1      0      1      0     0   00  ceffea69
46938      1      0      0      1      0      0      0     0   00  ceffea69
44485      1      0      0      1      0      0      0     0   00  ceffea69
42125      0      0      0      1      0      0      0     0   00  ceffea69
44638      0      0      0      1      0      0      0     0   00  ceffea69
43704      0      0      0      1      0      0      0     0   00  ceffea69
21405      0      0      1      0      0      0      0     1   00  ceffea69
45520      0      0      0      1      0      0      0     0   00  ceffea69
43514      0      0      0      0      0      0      0     0   00  ceffea69

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
29832     3     0     0     0     0     1     1     0     1     1    ...
76978     3     0     0     0     1     0     2     0     1     1    ...
78087     3     0     0     0     0     0     1     1     1     1    ...
77728     3     0     0     0     0     0     1     0     1     1    ...
74725     3     0     0     0     1     0     1     0     1     1    ...
75801     3     0     0     0     0     0     2     0     1     1    ...
73517     3     0     0     0     0     0     1     0     1     1    ...
77001     3     0     0     0     0     0     1     0     1     1    ...
73646     3     0     0     0     0     0     2     0     1     1    ...
78062     3     0     0     0     0     0     1     0     1     1    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
29832      0      0      0      1      0      1      0     1   00  07875ea4
76978      0      0      0      1      0      0      0     0   00  07875ea4
78087      0      0      0      1      0      0      0     0   00  07875ea4
77728      0      0      0      1      0      0      0     0   00  07875ea4
74725      0      0      0      1      0      0      0     0   00  07875ea4
75801      0      0      0      1      0      0      0     0   00  07875ea4
73517      0      0      0      1      0      0      0     0   00  07875ea4
77001      0      0      0      1      0      0      0     0   00  07875ea4
73646      0      0      0      1      0      0      0     0   00  07875ea4
78062      0      0      0      1      0      0      0     0   00  07875ea4

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
73731     4     0     0     0     0     0     2     0     0     0    ...
68687     4     0     0     0     0     0     3     0     0     0    ...
85432     4     0     0     0     0     0     2     0     0     0    ...
75187     4     0     0     0     0     0     2     0     0     0    ...
87312     4     0     0     0     0     0     2     0     0     0    ...
88749     4     0     0     0     0     0     2     0     0     0    ...
65141     4     0     0     0     0     0     2     0     0     0    ...
85827     4     0     0     0     0     0     2     0     0     0    ...
78370     4     0     0     0     0     0     2     0     0     0    ...
75274     4     0     0     0     0     0     2     0     0     0    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
73731      1      0      0      0      0      0      0     0   00  bcca3c05
68687      1      0      0      0      0      0      0     0   00  bcca3c05
85432      1      0      0      0      1      0      0     0   00  bcca3c05
75187      1      0      0      0      0      0      0     0   00  bcca3c05
87312      1      0      0      0      1      0      0     0   00  bcca3c05
88749      1      0      0      0      0      0      0     1   00  bcca3c05
65141      1      0      0      0      1      0      0     0   00  bcca3c05
85827      1      0      0      0      1      0      0     0   00  bcca3c05
78370      1      0      0      0      0      0      0     0   00  bcca3c05
75274      1      0      0      0      0      0      0     0   00  bcca3c05

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
59547     3     0     0     0     0     0     3     0     1     1    ...
60183     4     0     0     0     0     0     1     0     1     1    ...
27208     3     0     0     0     0     0     2     0     1     1    ...
60215     3     0     0     0     0     0     1     0     1     1    ...
60543     2     0     0     0     0     0     1     0     2     0    ...
60778     4     0     0     0     0     0     2     0     1     1    ...
59425     3     0     0     0     0     0     2     0     1     1    ...
59321     3     0     0     0     0     0     1     0     1     1    ...
59827     3     0     0     0     0     1     1     0     1     1    ...
60359     3     0     0     0     0     0     2     0     1     1    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
59547      0      0      0      1      0      0      0     0   00  6b9769f2
60183      0      0      0      1      0      0      0     0   00  6b9769f2
27208      0      0      0      1      0      0      0     1   00  6b9769f2
60215      0      0      0      1      0      0      0     0   00  6b9769f2
60543      0      0      0      2      0      0      0     0   00  6b9769f2
60778      0      0      0      1      0      0      0     0   00  6b9769f2
59425      0      0      0      1      0      0      0     0   00  6b9769f2
59321      0      0      0      1      0      0      0     0   00  6b9769f2
59827      0      0      0      1      0      0      0     0   00  6b9769f2
60359      0      0      0      1      0      0      0     0   00  6b9769f2

[10 rows x 53 columns]
      col_0 col_1 col_2 col_3 col_4 col_5 col_6 col_7 col_8 col_9    ...     \
26454     3     0     0     0     0     0     1     0     1     1    ...
29150     2     0     0     0     0     0     1     0     0     0    ...
29135     2     0     0     0     1     0     1     0     0     0    ...
29770     3     0     0     0     0     0     1     0     1     1    ...
26320     3     1     0     0     2     0     2     0     0     1    ...
28323     3     0     0     0     0     0     1     0     1     1    ...
28892     3     0     0     0     0     0     1     0     1     1    ...
15914     2     0     0     1     0     0     1     0     1     1    ...
29510     3     0     0     0     0     0     1     0     1     1    ...
29935     3     0     0     0     0     0     1     0     1     1    ...

      col_43 col_44 col_45 col_46 col_47 col_48 col_49 click hour device_ip
26454      0      1      0      1      0      0      0     0   00  ceffea69
29150      0      0      0      1      0      0      0     0   00  ceffea69
29135      0      0      0      0      0      0      0     0   00  ceffea69
29770      0      0      0      1      0      0      0     0   00  ceffea69
26320      0      0      0      0      0      0      0     0   00  ceffea69
28323      0      0      0      1      0      0      0     0   00  ceffea69
28892      0      0      0      1      0      0      0     0   00  ceffea69
15914      0      0      0      1      0      0      0     1   00  ceffea69
29510      1      0      0      1      0      0      0     0   00  ceffea69
29935      0      0      0      1      0      0      0     0   00  ceffea69

[10 rows x 53 columns]

In [125]:
df = pd.concat(l)
rewards = pd.DataFrame(df['click'])
users = pd.DataFrame(df['device_ip'])

col = ['col_' + str(i) for i in range(retain)]
df = pd.concat([pd.get_dummies(df[c]) for c in col], axis=1)
df = df.div(df.sum(axis=1), axis=0) # normalize
df.head()

,1,2,3,4,5,0,1,2,0,1,...,1,2,3,0,1,0,1,2,0,1
34035,0.0,0.02,0.00,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.00,0.00,0.0,0.02,0.0,0.02,0.0,0.0,0.02,0.0
36398,0.0,0.02,0.00,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.0,0.0,0.02,0.0
38555,0.0,0.02,0.00,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.00,0.02,0.0,0.02,0.0,0.02,0.0,0.0,0.02,0.0
34639,0.0,0.00,0.02,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.0,0.0,0.02,0.0
35900,0.0,0.02,0.00,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.0,0.0,0.02,0.0

In [126]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(list(users['device_ip']))
users['device_ip'] = le.transform(users['device_ip'])
sorted(users['device_ip'].unique())

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72]

In [128]:
rewards.to_csv('processed/reward_list.csv')
df.to_csv('processed/processed10k.csv')
users.to_csv('processed/users.csv')

In [129]:
t = 0
df.iloc[t*10:t*10+10]

,1,2,3,4,5,0,1,2,0,1,...,1,2,3,0,1,0,1,2,0,1
34035,0.0,0.02,0.00,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.00,0.00,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0
36398,0.0,0.02,0.00,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0
38555,0.0,0.02,0.00,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.00,0.02,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0
34639,0.0,0.00,0.02,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0
35900,0.0,0.02,0.00,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0
38379,0.0,0.00,0.02,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0
35908,0.0,0.00,0.02,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.00,0.02,0.0,0.02,0.0
30337,0.0,0.00,0.02,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0
13811,0.0,0.00,0.02,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0
38577,0.0,0.00,0.02,0.0,0.0,0.02,0.0,0.0,0.02,0.0,...,0.02,0.00,0.0,0.02,0.0,0.02,0.00,0.0,0.02,0.0